doctype html
html#ng-app(ng-app="app")
head
    meta(charset='utf-8')
    title Computer Games Rating Expert
    script(src='js/lib-script.js')
    script(src='js/app-script.js')
    script(type="text/ng-template", id='templates/answer-tpl.html')
        #answer
            p.h1.text-center {{ answer.title }}
            p.h2.text-center {{ answer.text }}
    link(rel='stylesheet', href='css/lib-css.css')
    link(rel='stylesheet', href='css/app-css.css')
body.fill(ng-app="app", ng-controller="appController")
    header
        p#title.h1.text-center Computer Games Rating Expert
    block content

