main > #question-slides {
  min-width: 100%;

  .carousel {
    min-height: 50px;

    .carousel-indicators {
      position: absolute;
      bottom: -50px;
      li {
        background-color: darkgray;
      }
    }
  }
}