/* app css stylesheet */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


#title {
  margin-top: 0;
  padding-top: 20px;
}

main {
  width: 100%;
  height: calc(100% - 69px);
  display: flex;
  align-items: center;
}

@import "../../Questions/view/styles/questions";