/* app css stylesheet */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

#title {
  margin-top: 0;
  padding-top: 20px;
}

main {
  width: 100%;
  height: calc(100% - 69px);
  display: flex;
  align-items: center;

  .carousel {
    min-width: 100%;
  }
}

@import "../../HelloWorld/view/styles/helloworld";
@import "../../Lenna/view/styles/lenna";
@import "../../EnvStrings/view/styles/envstrings";